<!DOCTYPE html>
<html>
<head>
    <link href="~/Scripts/css.css" rel="stylesheet" type="text/css">
    <link href="~/assets/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/stylesheets/landerapp.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/stylesheets/widgets.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/stylesheets/rtl.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/stylesheets/themes.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>

<body class="theme-default main-menu-animated">
    <div id="main-wrapper">

        @Html.Partial("_WhatSelling")

        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Продажи по продуктам</span>
                </div>
                <div class="panel-body">
                    <div class="graph-container">
                        <canvas id="EBITDAchart" width="250" height="200"></canvas>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Финансовые отчеты</span>
                </div>
                <div class="panel-body">

                    <div class="stat-panel">
                        <div class="stat-row">
                            <!-- Info background, without padding, horizontally centered text, super large text -->
                            <a href="#" class="stat-cell bg-info no-padding text-center">
                                &nbsp;
                            </a>
                        </div> <!-- /.stat-row -->
                        <div class="stat-row">
                            <!-- Bordered, without top border, horizontally centered text, large text -->
                            <a href="#" class="stat-cell bordered no-border-t text-center text-lg">
                                <i class="fa fa-cloud-download"></i><strong> Cashflow</strong>
                            </a>
                        </div> <!-- /.stat-row -->
                    </div>
                    <div class="stat-panel">
                        <div class="stat-row">
                            <!-- Info background, without padding, horizontally centered text, super large text -->
                            <a href="#" class="stat-cell bg-info no-padding text-center">
                                &nbsp;
                            </a>
                        </div> <!-- /.stat-row -->
                        <div class="stat-row">
                            <!-- Bordered, without top border, horizontally centered text, large text -->
                            <a href="#" class="stat-cell bordered no-border-t text-center text-lg">
                                <i class="fa fa-cloud-download"></i><strong> Profit & Loss</strong>
                            </a>
                        </div> <!-- /.stat-row -->
                    </div>
                    <div class="stat-panel">
                        <div class="stat-row">
                            <!-- Info background, without padding, horizontally centered text, super large text -->
                            <a href="#" class="stat-cell bg-info no-padding text-center">
                                &nbsp;
                            </a>
                        </div> <!-- /.stat-row -->
                        <div class="stat-row">
                            <!-- Bordered, without top border, horizontally centered text, large text -->
                            <a href="#" class="stat-cell bordered no-border-t text-center text-lg">
                                <i class="fa fa-cloud-download"></i><strong> Balance sheet</strong>
                            </a>
                        </div> <!-- /.stat-row -->
                    </div>




                </div>
            </div>

        </div>

        @Html.Partial("_SalesCurve")

        @Html.Partial("_ProductionCosts")

        @Html.Partial("_StuffSalary")

        @Html.Partial("_FixedCosts")

        @Html.Partial("_OperationalAnalysis")

        @Html.Partial("_WhatNext")

    </div> 

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-ui.js"></script>
    <script src="~/assets/javascripts/bootstrap.min.js"></script>
    <script src="~/assets/javascripts/landerapp.min.js"></script>
    <script src="~/assets/javascripts/Chart.js"></script>
    <script src="~/assets/javascripts/knockout-3.3.0.js"></script>
    <script src="~/Scripts/index.js"></script>
</body>
</html>